.container1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}